<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ThePedia</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body class="container-fluid">
    <header>
        <div id="header" class="row">
            <div class="col-4 titre_div">
                <form action="/home" method="get" id="activateur">
                    <button type="submit" class="btn"><h3 class="titre">的 - Thepedia</h3></button>
                </form>
                <script>
                    window.onload = function() {
                        document.forms['activateur'].submit();
                    }
                </script>
            </div>
            <div class="offset-6 col-2 titre_div">
                <button type="button" class="btn ajoutThe">
                    <i class="fa fa-leaf img_header img_feuille"></i>
                    <i class="fa fa-plus img_header"></i>
                </button>
            </div>
        </div>
    </header>
    <section id="navbar" class="row">
        <button type="button" class="btn col"><strong>Verde</strong></button>
        <button type="button" class="btn col"><strong>Negro</strong></button>
        <button type="button" class="btn col"><strong>Blanco</strong></button>
        <button type="button" class="btn col"><strong>Pu Erh</strong></button>
        <button type="button" class="btn col"><strong>Oolong</strong></button>
    </section>
    <section id="principale">
        <div id="acces" class="bouton">
            <form>
                <button type="button" id="idBouton" class="btn">
                    <i class="fa fa-leaf img_feuille_bouton"></i>
                    <strong class="text_feuille_bouton">
                        <p>Últimas</p>
                        <p>Llegadas</p>
                    </strong>
                </button>
            </form>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>